In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
df

    Color   Diameter   Fruit
0   Green          3   Apple
1  Yellow          4   Apple
2     Red          2   Grape
3     Red          1   Grape
4  Yellow          3   Apple

In [8]:
dummy_features = pd.get_dummies(df['Color'])
dummy_labels = pd.get_dummies(df[' Fruit'])
new_df = pd.concat([df, dummy_features, dummy_labels], axis = 1)
new_df = new_df.drop(columns = ['Color', ' Fruit', 'Yellow', ' Grape'])
new_df

    Diameter  Green  Red   Apple
0          3      1    0       1
1          4      0    0       1
2          2      0    1       0
3          1      0    1       0
4          3      0    0       1

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
model = RandomForestClassifier()

In [11]:
model.fit(dummy_features, dummy_labels)

RandomForestClassifier()

In [12]:
model.predict([[2, 0, 1]])

array([[1, 0]], dtype=uint8)

In [13]:
model.score(dummy_features, dummy_labels)

1.0