In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('untitled.csv')
df

    Color   Diameter   Fruit
0   Green          3   Apple
1  Yellow          4   Apple
2     Red          2   Grape
3     Red          1   Grape
4  Yellow          3   Lemon

In [4]:
dummy_features = pd.get_dummies(df['Color'])
dummy_features

   Green  Red  Yellow
0      1    0       0
1      0    0       1
2      0    1       0
3      0    1       0
4      0    0       1

In [6]:
dummy_labels = pd.get_dummies(df[' Fruit'])
dummy_labels

    Apple   Grape   Lemon
0       1       0       0
1       1       0       0
2       0       1       0
3       0       1       0
4       0       0       1

In [7]:
new_df = pd.concat([df, dummy_features, dummy_labels], axis = 1)
new_df

    Color   Diameter   Fruit  Green  Red  Yellow   Apple   Grape   Lemon
0   Green          3   Apple      1    0       0       1       0       0
1  Yellow          4   Apple      0    0       1       1       0       0
2     Red          2   Grape      0    1       0       0       1       0
3     Red          1   Grape      0    1       0       0       1       0
4  Yellow          3   Lemon      0    0       1       0       0       1

In [9]:
new_df = new_df.drop(columns = ['Color', ' Fruit', 'Yellow', ' Lemon'])
new_df

    Diameter  Green  Red   Apple   Grape
0          3      1    0       1       0
1          4      0    0       1       0
2          2      0    1       0       1
3          1      0    1       0       1
4          3      0    0       0       0

In [10]:
from sklearn import tree

In [11]:
model = tree.DecisionTreeClassifier()

In [14]:
model.fit(new_df.drop(columns = [' Apple', ' Grape']), new_df.drop(columns = [' Diameter', 'Green', 'Red']))

DecisionTreeClassifier()

In [16]:
model.predict([[4, 0, 0]])

array([[1, 0]], dtype=uint8)