In [25]:
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('turbo.csv')
df

          Price  Year Engine    Distance
0    12 700 AZN  2008  1.5 L  384 633 km
1    19 000 AZN  2010  1.8 L  316 656 km
2    13 900 AZN  2008  1.5 L  175 000 km
3    12 800 AZN  2007  1.5 L  210 000 km
4    14 500 AZN  2006  1.5 L  137 000 km
..          ...   ...    ...         ...
987  19 000 AZN  2012  1.8 L  167 000 km
988  10 000 AZN  2007  1.5 L  187 000 km
989  20 000 AZN  2007  1.5 L  150 000 km
990  13 900 AZN  2008  1.5 L  175 000 km
991  12 200 AZN  2008  1.5 L  150 000 km

[992 rows x 4 columns]

In [24]:
df

     Price  Year  Engine  Distance
0    12700  2008     1.5    384633
1    19000  2010     1.8    316656
2    13900  2008     1.5    175000
3    12800  2007     1.5    210000
4    14500  2006     1.5    137000
..     ...   ...     ...       ...
987  19000  2012     1.8    167000
988  10000  2007     1.5    187000
989  20000  2007     1.5    150000
990  13900  2008     1.5    175000
991  12200  2008     1.5    150000

[982 rows x 4 columns]

In [26]:
model = linear_model.LinearRegression()
model.fit(df[['Year', 'Engine', 'Distance']], df['Price'])

LinearRegression()

In [29]:
model.predict([[2010,  1.5, 200000]])

array([15755.39473806])

In [30]:
# y = m*x + c
# y = m1 * Year + m2 * Engine + m3 * Distance + c

model.coef_

array([ 1.03331584e+03,  4.47296841e+03, -3.66203878e-03])

In [31]:
model.intercept_

-2067186.4867634596

In [32]:
(1.03331584e+03) * 2010 + (4.47296841e+03) * 1.5 + (-3.66203878e-03) * 200000 + (-2067186.4867634596)

15755.396495540394